body{
  margin: 0px; 
}

main{
  width:100vw;
  height:100vh;
  
  display:grid;
  justify-content:center;
  align-items:center;
  
  
  background: white;
  background: url(../img/HONEY-VILLAGE.png) 

  
}

.first-button { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color:#57dd75;;
  color: white;
  box-shadow: 5px 5px 25px #000;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: 
  all 1s;
}

.first-button:hover {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  background-color:#50a0ed;
}

.first-button__blurb {
  opacity: 1;
  transform: translateX(45px);
  transition:
  opacity 0.5s 2s,
  transform 0.5s 0.5s;
}

.rect__blurb {
  opacity: 0;
  transform: translateX(500px);
  transition: 
  opacity 0.5s 1s,
  transform 0.5s 1s;
}

.first-button__blurb:hover {
  transition-delay: 0ms;
  transform: translateX(500px);
  width: 300px;
  transition:
  opacity 1s 1s,
  transform 0.5s 1s;
}

.toggleTextShit {  
  opacity: 0;
}

.rect__blurb {
  opacity: 1;
  transform: translateX(-100px);
}


.mainblock1 {
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  width: 320px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(10,1fr);
}

.header1 {
  display: grid;
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: blueviolet;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3,1fr);
}

.body1 {
  display: grid;
  grid-column: 1/4;
  grid-row: 2/11;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  background-color: white;
}

.sök {
  display: grid;
  grid-column: 2/5;
  grid-row: 2/3;
  border-radius:5px;

}

.hamburgericon {
  display: grid;
  grid-column: 5/6;
  grid-row: 2/4;
  margin-left: 30px;
  color: white;
}

a{
  display: grid;
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 10px;
}


.info1 {
  display: grid;
  grid-row: 3/4;
  grid-column: 1/4;
  margin-left: 5px;
  color: black;
}



img {
  display: grid;
  grid-row: span 1;
  grid-column: 1 / 4;
}



@media (min-width: 322px){
  .mainblock1 {
    width:100vw;
    height:100vh;
  }

  .body1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr)
  }

  .sök{
    border-radius: 3px;
  }

  .hamburgericon{
    margin-left: 12vw;
    font-size: 
  }

  img {
    display: grid;
    grid-row: span 2;
    grid-column: span 1;
  }
  info1{
    font-size: 150%;
  }
  main{
    background: url(../img/Bakgrundphotoshop.png)
  }

  .first-button{
    background-color:#FF7A0D;
    width: 300px;
    height: 150px;
  }

  .first-button:hover{
    background-color: blueviolet;
    width: 350px;
    height: 350px;
    border-radius: 250px;
  }
  
  
}




